# Auto detect text files and perform LF normalization
* text=auto
Library/PackageCache/com.unity.burst@* filter=lfs diff=lfs merge=lfs -text
Packages/com.unity.burst/.Runtime/*.dll filter=lfs diff=lfs merge=lfs -text
Packages/com.unity.burst/.Runtime/*.dylib filter=lfs diff=lfs merge=lfs -text
Packages/com.unity.burst/.Runtime/*.so filter=lfs diff=lfs merge=lfs -text
Packages/com.unity.burst/.Runtime/hostmac/* filter=lfs diff=lfs merge=lfs -text
Assets/3D[[:space:]]sources/*.fbx filter=lfs diff=lfs merge=lfs -text
Packages/com.unity.burst filter=lfs diff=lfs merge=lfs -text
